#context_menu{
    position: absolute;
    min-width: 100px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(25px);
}

#context_menu>div{
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
}
#context_menu>div:first-of-type{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#context_menu>div:last-of-type{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#context_menu>div:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#context_menu h1{
    font-weight: 500;
    font-size: 18px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    line-height: 30px;
}

#context_menu .icon{
    height: 30px;
    width: 30px;
}
#context_menu #delete .icon{
    background-image: url(../resorces/icons/trash-can-icon.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-1px) translateX(1px);
}
#context_menu #delete h1{
    color: #FF4040;
}

#context_menu #edit .icon{
    background-image: url(../resorces/icons/pen-icon.png);
    filter: brightness(0) invert();
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-1px) translateX(1px);
}