#dev-switch{
    position: absolute;
    z-index: 10000;
    height: 30px;
    width: 40px;
    background-color: #666;
    color: #ddd;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 600;
    top: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px #000000;
    user-select: none;
    cursor: pointer;}
#dev-switch.on{
    background-color: #fff;
    color: rgb(247, 1, 1);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);}

body.dev #tile-row      { outline: solid 2px #096cee; }

body.dev .tile          { outline: solid 2px #ee09cf; color: #ee09cf; text-align: center; line-height: 100px; font-size: 24px; font-weight: 300; }
body.dev .tile:hover    { outline: solid 2px #ffb3f9; color: #ffb3f9; }

body.dev .tile::before  { content: var(--devIndex); }
body.dev .tile.dummy    { background-color: #ffffff33; }

body.dev #add-btt       { outline: solid 2px #ee09cf; color: #ee09cf; text-align: center; line-height: 100px; font-size: 16px; font-weight: 300; }
body.dev #add-btt::before  { content: "addTile()"; }

body.dev #edit-area.active     { outline: solid 2px #fffb00; color:#fffb00; display: flex; justify-content: center; align-items: end;}
body.dev #edit-area.active::after{ content: "Edit tile"; }
body.dev #delete-area.active   { outline: solid 2px #ff6600; color:#ff6600; display: flex; justify-content: center; align-items: start;}
body.dev #delete-area.active::after{ content: "Delete tile"; }