div#logs{
    position: absolute;
    min-height: 50px;
    max-height: 150px;
    min-width: 150px;
    max-width: 500px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px;
    word-break: break-all;
    overflow-y: scroll;
}
div#logs > div{
    display: flex;
}
div#logs > div:last-of-type{
    color: red !important;
}
div#logs > div:last-of-type>p{
    color: orange !important;
}