@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    margin: none;
    padding: none;
    text-decoration: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;	
    color: #fff;
}

body{
    height: 100vh;

    background-image: url(/resorces/wallpapers/wallpaper0.png);
    background-size: cover;
    background-position: 0px 0px;
    background-attachment: fixed;
    background-color: #222;

    overflow-x: hidden;

    display: flex;
    align-items: center;
}

.dotted{
    background-image: radial-gradient(#555 1px, transparent 0px);
    background-position: -25px -25px;
    background-size: 50px 50px;    
    background-color: #222;
}

.outline{
    outline: 1px solid #555;
    background: none;
}

.glass,#settings-btt,#add-btt,a{
    background-color: #ffffff22;
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

button{
    cursor: pointer;
    height: 40px;
    width: 50px;
    border-radius: 10px;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a{
    cursor: pointer;
    display: block;
    height: 100px;
    width: 100px;
    margin: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
a>img{  width: 60%; height: 60%; filter: brightness(0) invert() drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));  }
a:hover>img{ filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));  }

main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main #add-btt{
    height: 50px;
    width: 50px;
    margin: 50px;
    order: 999;
    font-size: 24px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}